* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.head-advert {
  text-align: center;
  background-color: #233995;
  color: white;
  height: 30px;
  padding-top: 8px;
}

.head-advert p {
  font-size: 10px;
}

.row-head {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #c2bfbf;
}

.row-head .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-head .row .link-nav {
  font-size: 12px;
  padding-top: 10px;
}

.row-head .row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-head .row ul li a {
  color: #4c5165;
}

.row-head .row .icon-adver {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  padding-left: 63px;
  border-right: 1px solid grey;
  color: grey;
}

.row-head .row .icon-adver i {
  font-weight: 400;
  font-size: 15px;
}

.row-head .row .info {
  font-size: 12px;
  border-right: 1px solid grey;
  color: grey;
  width: 18%;
}

.row-head .row .info a {
  color: #2cbef8;
}

.row-head .row .info a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

.row-head .row .info span {
  width: 172px;
  display: inline-block;
}

.row-head .row .currency {
  width: 14%;
}

.row-head .row .currency .dropbtn {
  color: black;
  font-size: 12px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.row-head .row .currency i {
  font-size: 12px;
  color: grey;
}

.row-head .row .currency .dropdown {
  position: relative;
  display: inline-block;
}

.row-head .row .currency .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.row-head .row .currency .dropdown-content a {
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.row-head .row .currency .dropdown-content a:hover {
  background-color: white;
  color: #2cbef8;
}

.row-head .row .currency .dropdown:hover .dropdown-content {
  display: block;
}

.row-head .row .currency .dropdown:hover .dropbtn {
  color: #2cbef8;
}

.head-search-modal {
  margin-top: 40px;
}

.head-search-modal .search-basket .grocery {
  font-size: 12px;
  opacity: 0.5;
}

.head-search-modal .search-basket .mdl {
  position: relative;
}

.head-search-modal .search-basket .mdl #modal-btn {
  height: 65px;
  width: 190px;
  background-color: white;
  color: #4b5da9;
  border: 1px solid #afafaf;
  border-radius: 7px;
  margin-top: 5px;
  font-size: 12px;
}

.head-search-modal .search-basket .mdl #modal-btn i {
  position: absolute;
  right: 38px;
  bottom: 30px;
  font-size: 13px;
}

.head-search-modal .search-basket .mdl #modal-btn p {
  line-height: 15px;
  margin-left: -30px;
}

.head-search-modal .search-basket .mdl #modal-btn .select-loc {
  font-weight: 545;
  font-size: 15px;
  color: #303094;
}

.head-search-modal .search-basket .mdl #modal-btn .your-loc {
  margin-left: -70px;
  color: grey;
  opacity: 0.6;
}

.head-search-modal .search-basket .mdl .modal-body {
  overflow: auto;
  height: 400px;
}

.head-search-modal .search-basket .mdl .modal-body input {
  width: 100%;
  height: 50px;
  padding-left: 50px;
  border-radius: 10px;
  border: none;
  background-color: #f1f1f1;
  position: relative;
  font-size: 15px;
}

.head-search-modal .search-basket .mdl .modal-body i {
  position: absolute;
  left: 30px;
  top: 35px;
  color: grey;
}

.head-search-modal .search-basket .mdl .modal-body ul {
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}

.head-search-modal .search-basket .mdl .modal-body ul span {
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 10px;
  position: absolute;
  right: 3px;
  border: none;
  height: 35px;
}

.head-search-modal .search-basket .mdl .modal-body ul li {
  line-height: 50px;
  border-bottom: 1px solid grey;
  color: #6b6a6a;
}

.head-search-modal .search-basket .mdl #click {
  border: none;
  background-color: white;
}

.head-search-modal .search-basket .mdl #click span {
  font-size: 25px;
}

.head-search-modal .search-basket .box-search {
  width: 40%;
}

.head-search-modal .search-basket .box-search input {
  padding: 10px;
  position: relative;
  width: 100%;
  background-color: #f3f4f7;
  color: #202435;
  border-color: #f3f4f7;
  border: none;
  height: 70px;
  border-radius: 10px;
}

.head-search-modal .search-basket .box-search input:focus {
  outline-color: grey;
}

.head-search-modal .search-basket .box-search i {
  color: black;
  position: absolute;
  right: 430px;
  font-size: 23px;
  top: 133px;
  cursor: pointer;
}

.head-search-modal .search-basket .user-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-left: 20px;
}

.head-search-modal .search-basket .user-price .user {
  border: 1px solid #b9b9b9;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}

.head-search-modal .search-basket .user-price .user i {
  margin-left: 16px;
  margin-top: 13px;
  font-size: 20px;
}

.head-search-modal .search-basket .user-price .price {
  padding-top: 13px;
  padding-left: 15px;
}

.head-search-modal .search-basket .user-price .shop {
  background-color: #fff0ed;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  padding-top: 13px;
  padding-left: 17px;
  margin-right: 70px;
  margin-left: 32px;
  position: relative;
}

.head-search-modal .search-basket .user-price .shop i {
  color: #eb3434;
  font-size: 18px;
}

.head-search-modal .search-basket .user-price .shop .count {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: red;
  right: 0;
  top: 0;
  color: white;
  font-size: 10px;
  text-align: center;
}

.head-search-modal .search-basket .user-price .dropdown {
  position: relative;
  display: inline-block;
}

.head-search-modal .search-basket .user-price .dropdown-content {
  display: none;
  position: absolute;
  right: 90px;
  top: 60px;
  background-color: #f9f9f9;
  min-width: 260px;
  height: 250px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 7px;
}

.head-search-modal .search-basket .user-price .dropdown-content p {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
}

.head-search-modal .search-basket .user-price .dropdown-content .euro {
  font-size: 12px;
  text-align: center;
}

.head-search-modal .search-basket .user-price .dropdown-content img {
  margin-left: 80px;
  margin-top: 40px;
  width: 90px;
  height: 90px;
}

.head-search-modal .search-basket .user-price .dropdown:hover .dropdown-content {
  display: block;
}
/*# sourceMappingURL=home.css.map */