$primarycolor:rgb(76, 81, 101);
$primaryfontfamily:"Inter",sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    ul{
        list-style: none;
    }

    a{
        text-decoration: none;

    }

}

body{
    font-family: $primaryfontfamily;
    font-weight: 400;
    
    
}

.head-advert{
    text-align: center;
    background-color:rgb(35, 57, 149);  
    color:white;
    height:30px;
    padding-top: 8px;

   p{
       font-size:10px
   }
}


.row-head{
    width:100%;
    height: 40px;
    border-bottom: 1px solid rgb(194, 191, 191);

    .row{
        display: flex;
        height: 40px;
        
        align-items: center;
        

        .link-nav{
           
            font-size:12px;
            padding-top: 10px;
            
            
        }
        ul{
            display: flex;
            justify-content: space-between;
            
            li{
                a{
                    color: $primarycolor;
                }
            }
        }

        .icon-adver{
            font-size:12px;
            display: flex;
            padding-top: 0;
            padding-left: 63px;
            border-right: 1px solid grey;
            color: grey;

            i{
                font-weight: 400;
                font-size: 15px;
            }
            
          
          
            
        }
        .info{
            font-size:12px;
            border-right: 1px solid grey;
            color: grey;
            width:18%;

            a{
                color:rgb(44, 190, 248) ;

             &:hover{
                 text-decoration: underline;
                 text-decoration-color: black;
             }
            }
            span{
                width:172px;
                display:inline-block;
                
            }

        }

        .currency{
            width: 14%;
            .dropbtn {
                color: black;
                font-size: 12px;
                border: none;
                cursor: pointer;
                background-color:white;
              }
              i{
                  font-size: 12px;
                  color:grey;
              }
              
              .dropdown {
                position: relative;
                display: inline-block;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
              }
              
              .dropdown-content a {
                color: grey;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                font-size: 12px;
              }
              
              .dropdown-content a:hover {background-color:white;color:rgb(44, 190, 248) ; }
              
              .dropdown:hover .dropdown-content {
                display: block;
              }
              
              .dropdown:hover .dropbtn {
                color:rgb(44, 190, 248)
              }
        }
    }
}

.head-search-modal{
    margin-top:40px;
    .search-basket{
       
       
        .grocery{
            font-size: 12px;
            opacity: 0.5;
        }
        
        .mdl{
            position: relative;
            
            #modal-btn{
                height: 65px;
                width:190px;
                background-color:white;
                color: rgb(75, 93, 169);
                border:1px solid rgb(175, 175, 175);
                border-radius: 7px;
                margin-top:5px;             
                font-size: 12px;

                i{
                    position: absolute;
                    right: 38px;
                    bottom:30px;
                    font-size: 13px;
                }
                

                p{
                    line-height: 15px;
                    margin-left: -30px;
                }
                .select-loc{
                    font-weight: 545;
                    font-size: 15px;
                    color: rgb(48, 48, 148);
                }
                .your-loc{
                    margin-left: -70px;
                    color: grey;
                    opacity: 0.6;
                }
            }

            .modal-body{
                overflow:auto;
                height: 400px;
                input{
                    width: 100%;
                    height:50px;
                    padding-left:50px;
                    border-radius: 10px;
                    border: none;
                    background-color:rgb(241, 241, 241);
                    position: relative;
                    font-size:15px;
                    
                }
                i{
                    position: absolute;
                    left: 30px;
                    top: 35px;
                    color: grey;

                }
                ul{
                    position: relative;
                    margin-top:10px;
                    cursor:pointer;

                   span{
                       border: 1px solid grey;
                       border-radius: 10px;
                       font-size:10px;
                       position: absolute;
                       right: 3px;
                       border: none;
                       
                       height: 35px;
                   }
                    li{
                        line-height: 50px;
                        border-bottom: 1px solid grey;
                        color:rgb(107, 106, 106);

                    }
                }
            }
            #click{
                border: none;
                background-color:white;
                span{
                    font-size:25px;
                }
            }
        }
       
        .box-search{
            width:40%;
            input{
                padding: 10px;
                position: relative;
                width: 100%;
                background-color: #f3f4f7;
                color: #202435;
                border-color: #f3f4f7;
                border:none;
                height: 70px;
                border-radius: 10px;

                &:focus{
                   outline-color:grey;
                }
            }
            i{
                color: black;
                position: absolute;
                right:440px;
                font-size:23px;
                top: 133px;
                cursor: pointer;
            }

            
        }

        .user-price{
            display:flex;
            padding-top: 10px;
            margin-left: 20px;

            .user{
                border: 1px solid rgb(185, 185, 185);
                border-radius: 30px;
                width:50px;
                height: 50px;

                i{
                    margin-left: 16px;
                    margin-top: 13px;
                    font-size:20px;
                    
                }
            }

            .price{
                padding-top: 13px;
                padding-left: 15px;
            }

            .shop{
                background-color:rgb(255, 240, 237);
                height:50px;
                width: 50px;
                border-radius: 50px;
                cursor: pointer;
                padding-top: 13px;
                padding-left: 17px;
                margin-right: 70px;
                margin-left: 32px;
                position: relative;
                
    
                i{
                    color:rgb(235, 52, 52) ;
                    font-size:18px;
                    
                }

                .count{
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    background-color:red;
                    right: 0;
                    top: 0;
                    color: white;
                    font-size:10px;
                    text-align:center;
                }
              }
              
              .dropdown {
                position: relative;
                display: inline-block;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                right: 90px;
                top: 60px;
                background-color: #f9f9f9;
                min-width: 260px;
                height: 250px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                border-radius: 7px;

                p{
                    text-align: center;
                    font-size: 13px;
                    font-weight: bold;
                    margin-top:5px;
                }
                .euro{
                    font-size: 12px;
                    text-align: center;
                }
              }
              
              .dropdown-content img {
                margin-left: 80px;
                margin-top: 40px;
                width:90px;
                height:90px;
              }
              
              .dropdown:hover .dropdown-content {
                display: block;
              }
              
              
        }

       
          
        
       
        
    }
}

.dropdown-list{
    margin-top:25px;

    .dropdown-hover{
        .all-categories{
            .dropdown{

                .drpdwn-menu{
                    margin-top:13px;
                    width:300px;
                    font-size: 13px;
                    color:$primarycolor;
                    line-height:30px;
                    padding-left: 20px;
                    i{
                        color:rgb(219, 219, 219);

                       
                    }

                    a{
                       
                        &:hover{
                            color:rgb(44, 190, 248) ;
                            background-color:white
                        }
                    }
                }
                #list-btn{
                    background-color:rgb(44, 190, 248);
                    border:none;
                    border-radius: 30px;
                    height:50px;
                    width: 200px;
                    font-size:14px;
                    position:relative;
                    
                 &:active{
                     border:none;
                     outline:none;
                 }
                    
                }
                .total-63{
                    position:absolute;
                    width:120px;
                    height: 20px;
                    font-size:9px;
                    border-radius: 20px;
                    background-color:rgb(218, 216, 216);
                    text-align: center;
                    padding-top:5px;
                    color: $primarycolor;
                    bottom:-8px;
                    left: 35px;
                    outline:0;
                }
                #end{
                    color: black;
                    font-size:15px;

                    &:hover{
                        color: rgb(44, 190, 248);
                    }
                }
            }
        }

        .hover-drop{
          
            .dropbtn {
                background-color: white;
                color: black;
                margin-top: 5px;
                font-size: 13px;
                border: none;
                cursor: pointer;
                border-radius: 20px;
                width: 111px;
                height: 35px;
                padding: 0px;
                transition: all 1s;
              }
              
              .dropdown {
                position: relative;
                display: inline-block;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                font-size:12px;
                padding-top:20px;
                margin-top:2px;
                
              }
              
              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
              
              .dropdown-content a:hover {background-color: #F9F9F9;color:rgb(44, 190, 248);}
              
              .dropdown:hover .dropdown-content {
                display: block;
                width: 200px;
                padding-left: 20px;
              }
              
              .dropdown:hover .dropbtn {
                background-color:rgb(240, 250, 254) ;
                color: rgb(44, 190, 248);
              }



              .dropbtn {
                background-color: white;
                color: black;
                margin-top: 5px;
                font-size: 13px;
                border: none;
                cursor: pointer;
                border-radius: 20px;
                width: 111px;
                height: 35px;
                padding: 0px;
                transition: all 1s;
              }
              
              .dropdown1 {
                position: relative;
                display: inline-block;
              }
              
              .dropdown-content1 {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 1500px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                font-size:12px;
                padding-top:20px;
                margin-top:5px;
                margin-left: -630px;
                height:400px;
                padding-right: 200px;
               
                h6{
                    margin-left: 45px;
                    color: rgb(35, 57, 149);
                    cursor: pointer;
                    &:hover{
                        color:rgb(44, 190, 248);
                    }
                }
              }
              
              .dropdown-content1 a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
              
              .dropdown-content1 a:hover {background-color: #F9F9F9;color:rgb(44, 190, 248);}
              
              .dropdown1:hover .dropdown-content1 {
                display: block;
                width: 200px;
                padding-left: 20px;
            
              }
              .dropdown1:hover .dropdown-content1 .container{
                  display:flex;
                  justify-content:space-between;
                  align-items: center;

                  ul{
                      padding-top:10px;
                      cursor: pointer;
                  }
                 
              }
              
              .dropdown1:hover .dropbtn {
                background-color:rgb(240, 250, 254) ;
                color: rgb(44, 190, 248);
              }
              
              
        }
    }
}



